# format options
--indent 4
--extensionacl on-declarations
--xcodeindentation enabled
--indentcase true
--lineaftermarks true

# file options
--exclude Pods,Generated

# rules
--enable blankLinesAroundMark
--disable acronyms
